<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Manager</title>
</head>
<body>
    <h1>Create New Manager</h1>
    <div th:if="${failed}" style="color: red;">
        <p th:text="${failed}"></p>
    </div>
    <a th:href="@{/admin/manage-manager}" th:text="'Back to Manager List'"></a>
    <form th:action="@{/admin/create-manager}" th:object="${managerRegisterDto}" method="post">
        <span th:errors="*{email}" style="color: red"></span>
        <span th:errors="*{password}" style="color: red"></span>
        <span th:errors="*{confirmPassword}" style="color: red"></span>
        <span th:errors="*{fullname}" style="color: red"></span>
        <span th:errors="*{birthDate}" style="color: red"></span>
        <span th:errors="*{cId}" style="color: red"></span>
        <br/>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required/>
        <br/>

        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required/>
        <br/>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required/>

        <br/>

        <label for="fullname">Full Name:</label>
        <input type="text" id="fullname" th:field="*{fullname}" required/>

        <br/>

        <label for="birthDate">Birth Date:</label>
        <input type="date" id="birthDate" th:field="*{birthDate}" required/>
        <br/>

        <label for="cId">CMND/CCCD:</label>
        <input type="text" id="cId" th:field="*{cId}" required/>
        <br/>

        <label for="provinceCityCode">Province/City Code:</label>
        <select id="provinceCityCode" th:field="*{provinceCityCode}" required>
        </select>
        <br/>
        <label for="communeWardCode">Commune/Ward Code:</label>
        <select id="communeWardCode" th:field="*{communeWardCode}" required></select>
        <br/>
        <label for="specificAddress">Specific Address:</label>
        <input type="text" id="specificAddress" th:field="*{specificAddress}" required/>
        <br/>
        <button type="submit">Create Manager</button>
    </form>
    <script th:src="@{/js/address/address.js}"></script>
</body>
</html>