<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Managers</title>
</head>
<body>
    <h1>Manager List</h1>
    <div th:if="${success}" style="color: green;">
        <p th:text="${success}"></p>
    </div>
    <div th:if="${failed}" style="color: red;">
        <p th:text="${failed}"></p>
    </div>
    <a th:href="@{/admin}" th:text="'Back to admin page'"></a>
    <a th:href="@{/admin/create-manager}" th:text="'Create New Manager'"></a>
    <table border="1">
        <tr>
            <th>ID</th>
            <!--<th>Username</th>-->
            <th>Email</th>
            <th>IsEnabled</th>
            <th>Actions</th>
        </tr>
        <tr th:each="manager : ${managers}">
            <td th:text="${manager.id}"></td>
            <!--<td th:text="${manager.username}"></td>-->
            <td th:text="${manager.email}"></td>
            <td th:text="${manager.enabled}"></td>
            <td>
                <a th:href="@{/admin/edit-manager/{id}(id=${manager.id})}" th:text="'Edit'"></a>
                <form th:action="@{/admin/configure-manager}" method="post" style="display:inline;">
                    <input type="hidden" name="id" th:value="${manager.id}">
                        <a href="#" th:if="${manager.enabled}" th:onclick="'if(confirm(\'Are you sure you want to disable this manager?\')) { this.closest(\'form\').submit(); } return false;'" th:text="'Disable'"></a>
                        <a href="#" th:if="${!manager.enabled}" th:onclick="'if(confirm(\'Are you sure you want to enable this manager?\')) { this.closest(\'form\').submit(); } return false;'" th:text="'Enable'"></a>
                </form>
            </td>
        </tr>
    </table>
    <div>
        <span>Page [[${currentPage}+1]] of [[${totalPages}]]</span>
    </div>

    <div>
        <a th:if="${currentPage > 0}"
        th:href="@{manage-manager(page=${currentPage-1})}">Previous</a>

        <a th:if="${currentPage < totalPages-1}"
           th:href="@{manage-manager(page=${currentPage+1})}">Next</a>
    </div>
</body>
</html>
