<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Managers</title>
</head>
<body>
    <h1>Manager List</h1>
    <div th:if="${success}" style="color: green;">
        <p th:text="${success}"></p>
    </div>
    <div th:if="${failed}" style="color: red;">
        <p th:text="${failed}"></p>
    </div>
    <a th:href="@{/admin}" th:text="'Back to admin page'"></a>
    <a th:href="@{/admin/create-manager}" th:text="'Create New Manager'"></a>
    <table border="1">
        <tr>
            <th>ID</th>
            <!--<th>Username</th>-->
            <th>Email</th>
            <th>Enabled</th>
            <th>Actions</th>
        </tr>
        <tr th:each="manager : ${managers}">
            <td th:text="${manager.id}"></td>
            <!--<td th:text="${manager.username}"></td>-->
            <td th:text="${manager.email}"></td>
            <td th:text="${manager.enabled}"></td>
            <td>
                <a th:href="@{/admin/edit-manager/{id}(id=${manager.id})}" th:text="'Edit'"></a>
                <form th:action="@{/admin/configure-manager}" method="post" style="display:inline;"
                      th:onsubmit="${manager.enabled} ? 'return confirm(\'Are you sure you want to disable this manager?\')' : 'return confirm(\'Are you sure you want to enable this manager?\')'">
                    <input type="hidden" name="id" th:value="${manager.id}">
                    <button type="submit" th:if="${manager.enabled}" th:text="'Disable'"></button>
                    <button type="submit" th:if="${!manager.enabled}" th:text="'Enable'"></button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
