<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>
<body>
    <p>Seller</p>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn">Đăng xuất</button>
    </form>
    <a th:href="@{/seller/all-products}">Tất cả sản phẩm</a>
    <a th:href="@{/seller/all-orders}">Tất cả đơn hàng</a>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>