<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail-Report</title>
</head>
<body>
<h1>Chi tiết thống kê</h1>
<a th:href="@{/manager/statistic-report}">Thống kê</a>

<h3>Doanh thu 7 ngày gần đây</h3>
<table>
    <thead>
    <tr>
        <th>Thời gian</th>
        <th>Doanh thu</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${daysReport}">
        <td th:text = "${item.date}"></td>
        <td th:text = "${item.revenue} + ' VND'"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/manager/days/export-excel}">Xuất</a>
<h3>Doanh thu 12 tháng gần đây</h3>
<table>
    <thead>
    <tr>
        <th>Thời gian</th>
        <th>Doanh thu</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${monthsReport}">
        <td th:text = "${item.date}"></td>
        <td th:text = "${item.revenue} + ' VND'"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/manager/months/export-excel}">Xuất</a>
</body>
</html>