<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa nhân viên</title>
</head>
<body>
<h1>Thêm tài khoản</h1>
<form th:action="@{/manager/edit-staff}" method="post" th:object="${user}">
    <input type="text" name="className" th:value="${session.className}" hidden>

    <label for="email">Email</label>
    <input type="text" id="email" name="email" th:value="*{email}">
    <br>
    <label for="password">Mật khẩu</label>
    <input type="password" id="password" name="password" th:value="*{password}">
    <br>
    <label for="fullName">Họ tên</label>
    <input type="text" id="fullName" name="fullName" th:value="*{fullName}">
    <br>
    <label for="birthDate">Ngày tháng năm sinh</label>
    <input type="date" id="birthDate" name="birthDate" th:value="*{birthDate}">
    <br>
    <label for="cId">Số căn cước công dân</label>
    <input type="text" id="cId" name="cId" th:value="*{cId}">
    <br>
    <label for="address">Địa chỉ</label>
    <input type="text" id="address" name="address" th:value="*{address}">
    <br>
    <label for="enabled">Mở khóa</label>
    <input type="checkbox" id="enabled" name="enabled" th:checked="*{enabled}">
    <br>
    <input type="submit" name="saveButton" value="Lưu">
</form>
</body>
</html>