<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>
<body>
<p>Manager</p>
<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn">Đăng xuất</button>
</form>
<a href="/manager/manage-seller">Quản lí người bán</a>
<br>
<a href="/manager/manage-shipper">Quản lí người giao hàng</a>
<br>
<a href="/manager/manage-customer-support">Quản lí hỗ trợ khách hàng</a>
<br>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>