<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
</head>
<body class="container-fluid">
<a href="/manager">Quay về trang chủ</a>
<div style="display: grid; grid-template-columns: 3fr 7fr; height: 100px">
    <h1>Quản lí người giao hàng</h1>
    <div class="alert alert-success alert-dismissible" th:hidden="${msg == null}">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Thành công!</strong> <p th:text="${msg}"></p>
    </div>
    <div class="alert alert-danger alert-dismissible" th:hidden="${error == null}">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Thất bại!</strong> <p th:text="${error}"></p>
    </div>
</div>
<div style="display: grid; grid-template-columns: 1fr 1fr">
    <form th:action="@{/manager/manage-shipper}" method="get" style="display: flex; justify-content: start;">
        <div th:each="index : ${#numbers.sequence(1, (session.list.size() / 15) + (session.list.size() % 15 == 0 ? 0 : 1))}">
            <input type="submit" name="subpageIndex" th:value="${index}" th:class="'btn' + ${session.subpageIndex == index ? ' btn-primary' : ''}">
        </div>
    </form>
    <form th:action="@{/manager/edit-staff}" method="get" style="display: flex; justify-content: end">
        <button type="submit" name="clickedButton" value="Shipper" class="btn btn-success">Thêm người giao hàng</button>
    </form>
</div>
<table class="table-striped table-hover col-md-12">
    <tr>
        <form th:action="@{/manager/manage-shipper}" method="get">
            <th>
                <button type="submit" name="clickedButton" value="id" style="width: 100%" th:class="${'btn ' + (session.sortCriteria.equals('id') ? 'btn-primary' : '')}" th:text="${'ID' + (session.sortCriteria.equals('id') ? (session.k == 1 ? ' v' : ' ^') : '')}"></button>
            </th>
            <th>
                <button type="submit" name="clickedButton" value="email" style="width: 100%" th:class="${'btn ' + (session.sortCriteria.equals('email') ? 'btn-primary' : '')}" th:text="${'Email' + (session.sortCriteria.equals('email') ? (session.k == 1 ? ' v' : ' ^') : '')}"></button>
            </th>
            <th>
                <button type="submit" name="clickedButton" value="fullname" style="width: 100%" th:class="${'btn ' + (session.sortCriteria.equals('fullname') ? 'btn-primary' : '')}" th:text="${'Họ tên' + (session.sortCriteria.equals('fullname') ? (session.k == 1 ? ' v' : ' ^') : '')}"></button>
            </th>
            <th>
                <button type="submit" name="clickedButton" value="cId" style="width: 100%" th:class="${'btn ' + (session.sortCriteria.equals('cId') ? 'btn-primary' : '')}" th:text="${'Số CCCD' + (session.sortCriteria.equals('cId') ? (session.k == 1 ? ' v' : ' ^') : '')}"></button>
            </th>
            <th>
                <button type="submit" name="clickedButton" value="address" style="width: 100%" th:class="${'btn ' + (session.sortCriteria.equals('address') ? 'btn-primary' : '')}" th:text="${'Địa chỉ' + (session.sortCriteria.equals('address') ? (session.k == 1 ? ' v' : ' ^') : '')}"></button>
            </th>
            <th>
                <button type="submit" name="clickedButton" value="enabled" style="width: 100%" th:class="${'btn ' + (session.sortCriteria.equals('enabled') ? 'btn-primary' : '')}" th:text="${'Mở khóa?' + (session.sortCriteria.equals('enabled') ? (session.k == 1 ? ' v' : ' ^') : '')}"></button>
            </th>
            <th>Hành động</th>
        </form>
    </tr>
    <div th:if="${session.list.isEmpty()}">
        <tr>(trống)</tr>
    </div>
    <div  th:unless="${session.list.isEmpty()}">
        <tr th:each="index : ${#numbers.sequence(15 * (session.subpageIndex - 1), ((15 * session.subpageIndex - 1) < session.list.size() ? (15 * session.subpageIndex - 1) : (session.list.size() - 1)))}" th:object="${session.list[index]}">
            <td class=".col-1" th:text="*{id}"></td>
            <td class=".col-2" th:text="*{email}"></td>
            <td class=".col-2" th:text="*{fullname}"></td>
            <td class=".col-2" th:text="*{cId}"></td>
            <td class=".col-3" th:text="*{address}"></td>
            <td class=".col-1" th:text="*{(enabled == true) ? 'Có' : 'Không'}"></td>
            <td class=".col-1">
                <form style="width: 100%" th:action="@{/manager/manage-shipper}" method="post">
                    <input name="email" th:value="*{email}" hidden>
                    <button type="submit" value="true" th:text="*{enabled ? 'Khóa' : 'Mở'}" th:class="'btn' + *{enabled ? ' btn-danger' : ' btn-success'}"
                            style="width: 100%;"></button>
                </form>
            </td>
        </tr>
    </div>
</table>

</body>
</html>