<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Quản lí nhân viên</h1>
<h5 th:text="${msg}"></h5>
<form action="/manager/manage-staff" method="get">
    <input type="submit" name="clickedButton" value="seller">Người bán</input>
    <input type="submit" name="clickedButton" value="shipper">Người giao hàng</input>
</form>
<table border="3">
    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Mật khẩu</th>
        <th>Được mở khóa</th>
        <th></th>
    </tr>
    <tr th:each="item : ${filteredResults}">
        <td th:text="${item.getId()}"></td>
        <td th:text="${item.getEmail()}"></td>
        <td th:text="${item.getPassword()}"></td>
        <td th:text="${(item.isEnabled() == true) ? 'Có' : 'Không'}"></td>
        <td><a th:href="@{/manager/edit-staff/{email}(email=${item.email})}">Edit Staff</a></td>
        <td>
            <form action="/manager/edit-staff" method="post">
                <input type="text" name="email" th:value="${item.getEmail()}">
                <input type="submit" name="deleteButton">
            </form>
        </td>
    </tr>
</table>
</body>
</html>