<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Quản lí nhân viên</h1>
<h5 th:text="${msg}"></h5>
<form action="/manager/manage-staff" method="get">
    <button type="submit" name="clickedButton" value="seller">Người bán</button>
    <button type="submit" name="clickedButton" value="shipper">Người giao hàng</button>
    <button type="submit" name="clickedButton" value="newSeller">Thêm người bán</button>
    <button type="submit" name="clickedButton" value="newShipper">THêm người giao hàng</button>
</form>
<table border="3">
    <tr>
        <form action="/manager/manage-staff" method="get">
            <th>
                <button type="submit" name="clickedButton" value="id">ID</button>
            </th>
            <th>
                <button type="submit" name="clickedButton" value="username">Tên</button>
            </th>
            <th>
                <button type="submit" name="clickedButton" value="enabled">Được mở khóa</button>
            </th>
        </form>
    </tr>
    <tr th:each="item : ${filteredResults}">
        <td th:text="${item.getId()}"></td>
        <td th:text="${item.getEmail()}"></td>
        <td th:text="${(item.isEnabled() == true) ? 'Có' : 'Không'}"></td>
        <td><a th:href="@{/manager/edit-staff/{email}(email=${item.email})}">Edit Staff</a></td>
    </tr>
</table>
</body>
</html>