<div layout:decorate="~{layouts/customer-layout}" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <div layout:fragment="content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img th:src="${product.main_image_url}" class="card-img-top" alt="Product Image"
                            style="width: 100%; height: auto; object-fit: cover;">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3">
                        <h1 class="card-title" th:text="${product.name}"></h1>
                        <p class="card-text"><strong>Giá:</strong> <span th:text="${product.price}"></span></p>
                        <p class="card-text"><strong>Mô tả:</strong></p>
                        <p class="card-text" th:text="${product.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>