<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order History</title>
</head>
<body>
<h1>Lịch sử đặt hàng</h1>
<table>
    <thead>
    <tr>
        <th>Mã đơn hàng</th>
        <th>Đơn hàng</th>
        <th>Ngày đặt</th>
        <th>Trạng thái</th>
        <th>Tổng tiền</th>
    </tr>
    </thead>
    <tbody>
<tr th:each="order : ${orders}">
    <td th:text="${order.id}"></td>
    <td>
        <ul>
            <li th:each="item : ${order.orderItems}">
                <span th:text="${item.product.name}"></span> -
                <span th:text="${item.quantity}"></span> x
                <span th:text="${item.price}"></span>
            </li>
        </ul>
    </td>
    <td th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy HH:mm')}"></td>
    <td th:text="${order.status}"></td>
    <td th:text="${order.totalAmount}"></td>
</tr>
    </tbody>
</table>
</body>
</html>