header {
  position: sticky !important;
  top: 0;
  width: 100%;
}
.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
}
body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main {
    grid-row: 2;
}
