<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>
<body>

<a th:if="${!isGoogleRegistered}" href="/customer/change-password">Đổi mật khẩu</a>

<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn">Đăng xuất</button>
</form>

<a th:href="@{/customer/delivery-info}">Thông tin giao hàng</a>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>