<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>
<body>

<p th:if="${error}" th:text="${error}"></p>
<p th:if="${success}" th:text="${success}"></p>

<form th:action="@{/customer/change-password}" th:object="${changePasswordDto}" method="post">
    <label>
        Mật khẩu cũ<input type="password" th:field="*{oldPassword}" required/>
    </label>
    <label>
        Mật khẩu mới<input type="password" th:field="*{newPassword}" required/>
        <span th:errors="*{newPassword}" class="error-inline"> Error</span>
    </label>
    <label>
        Xác nhận mật khẩu mới<input type="password" th:field="*{confirmNewPassword}" required/>
    </label>
    <button type="submit">Đổi mật khẩu</button>
</form>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>