<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/admin/ai}" method="post">
    <input type="hidden" name="conversationId" th:value="${conversationId}">
    <ul>
        <li th:each="message : ${conversation}">
            <span th:text="${message.messageType + ':' + message.text}"></span>
        </li>
    </ul>
    <label>
        Question:<textarea name="q"></textarea>
    </label>
    <button type="submit">Ask</button>
    <div th:if="${error}" th:text="${error}"></div>
</form>
</body>
</html>