<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:if="${error}" th:text="${error}" class="msg msg-error"></p>
<p th:if="${success}" th:text="${success}" class="msg msg-success"></p>

<form th:action="@{/customer/change-password}" th:object="${changePasswordDto}" method="post">
    <label>
        Old password <input type="password" th:field="*{oldPassword}" required/>
    </label>
    <label>
        New password<input type="password" th:field="*{newPassword}" required/>
        <span th:errors="*{newPassword}" class="error-inline"> Error</span>
    </label>
    <label>
        Confirm new password<input type="password" th:field="*{confirmNewPassword}" required/>
    </label>
    <button type="submit">Change password</button>
</form>
</body>
</html>