<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:if="${success}" th:text="${success}"></p>

<form th:action="@{/customer/delivery-info}" th:object="${deliveryInfoDto}" method="post">
    <label>
        Họ và tên<input type="text" th:field="*{fullName}" required/>
        <span th:errors="*{fullName}"> Error</span>
    </label>

    <label>
        Tỉnh/Thành phố
        <select required onchange="this.form.submit()" th:field="*{provinceCityCode}">
            <option value="">Chọn Tỉnh/Thành phố</option>
            <option th:each="province : ${provinceCities}"
                    th:value="${province.code}"
                    th:text="${province.name}">
            </option>
        </select>
        <span th:errors="*{provinceCityCode}"> Error</span>
    </label>

    <label>
        Xã/Phường
        <select th:field="*{communeWardCode}" required>
            <option value="">Chọn Xã/Phường</option>
            <option th:each="ward : ${wards}"
                    th:value="${ward.code}"
                    th:text="${ward.name}">
            </option>
        </select>
        <span th:errors="*{communeWardCode}"> Error</span>
    </label>

    <label>
        Địa chỉ chi tiết<input type="text" th:field="*{specificAddress}" required/>
        <span th:errors="*{specificAddress}" > Error</span>
    </label>

    <label>
        Số điện thoại<input type="tel" th:field="*{phone}" required/>
        <span th:errors="*{phone}"> Error</span>
    </label>

    <button type="submit" name="update">Cập nhật</button>
</form>
</body>
</html>