<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>
<body th:with="isAuthenticated = ${#authorization.expression('isAuthenticated()')}">

<a th:if="${!isAuthenticated}" th:href="@{/login}">Đăng nhập</a>

<a th:if="${isAuthenticated}" th:href="@{/customer/account-manager}">Quản lí tài khoản</a>

<a th:if="${isAuthenticated}" th:href="@{/customer/ai}">AI chatbot</a>

<a th:if="${isAuthenticated}" th:href="@{/customer/shopping-cart}">Giỏ hàng</a>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>