<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết sản phẩm</title>
</head>
<body>
<div>
    <div style="display: grid; grid-template-columns: 4fr 6fr;">
        <div>
            <img th:src="${product.main_image_url}" alt="">
        </div>
        <div>
            <h1 th:text="${product.name}"></h1>
            <h2 th:text="${product.price}"></h2>
            <p th:text="${product.description}"></p>
            <div th:each="subImage : ${subImages}" style="display: inline-block; margin-right: 10px;">
                <img th:src="${subImage.sub_image_url}" alt="">
            </div>
            <form th:action="@{/customer/shopping-cart/update}" method="post">
                <input type="number" name="productId" th:value="${product.id}" hidden>
                <input type="number" name="quantity" value="1" hidden>
                <button type="submit">Thêm vào giỏ hàng</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>