<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>
<body>
<p th:if="${param.invalid_captcha}">Captcha không hợp lệ</p>
<p th:if="${error}" th:text="${error}"></p>
<p th:if="${success}" th:text="${success}"></p>

<form th:action="@{/forgot-password}" method="post">
    <label>
        Email<input type="email" name="email" required/>
    </label>
    <div class="g-recaptcha" th:attr="data-sitekey=${siteKey}"></div>
    <button type="submit">Gửi mật khẩu mới</button>
</form>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>