<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>
<body>
<p th:if="${param.register_success}">Đăng kí tài khoản thành công</p>
<p th:if="${param.logout}">Bạn đã đăng xuất</p>
<p th:if="${param.incorrect_email_or_password}">Email hoặc mật khẩu không đúng</p>
<p th:if="${param.account_disabled}">Tài khoản của bạn đã bị vô hiệu hóa</p>
<p th:if="${param.invalid_captcha}">Captcha không hợp lệ</p>
<p th:if="${param.unknown_error}">Lỗi không xác định</p>

<form th:action="@{/login}" method="post">
    <label>
        Email<input type="email" name="email" required/>
    </label>
    <label>
        Mật khẩu<input type="password" name="password" required/>
    </label>
    <label>
        nhớ tài khoản<input type="checkbox" name="remember-me"/>
    </label>
    <div class="g-recaptcha" th:attr="data-sitekey=${siteKey}"></div>
    <button type="submit">Login</button>
</form>

<a th:href="@{/forgot-password}">Quên mật khẩu</a>
<a th:href="@{/register}">Đăng kí tài khoản</a>
<a th:href="@{/oauth2/authorization/google}">Đăng nhập với Google</a>


<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>