<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:if="${param.invalid_captcha}">Captcha không hợp lệ</p>
<p th:if="${error}" th:text="${error}"></p>

<form th:action="@{/register}" th:object="${registerDto}" method="post">
    <label>
        Email:<input type="text" th:field="*{email}" required/>
        <span th:errors="*{email}">Validate email</span>
    </label>
    <label>
        Mật khẩu<input type="password" th:field="*{password}" required/>
        <span th:errors="*{password}">Validate password</span>
    </label>
    <label>
        Xác nhận mật khẩu<input type="password" th:field="*{confirmPassword}" required/>
    </label>
    <div class="g-recaptcha" th:attr="data-sitekey=${siteKey}"></div>
    <button type="submit">Register</button>
</form>

<a th:href="@{/login}">Đăng nhập</a>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>