<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>
<body>
<p th:if="${error}" th:text="${error}"></p>
<form th:action="@{/verify-otp}" method="post">
    <input type="hidden" name="email" th:value="${email}"/>
    <label>
        Nhập OTP<input type="text" name="otp"/>
    </label>
    <button type="submit">Xác thực</button>
</form>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>